
@{
    ViewBag.Title = "CreateDeal";
    Layout = "~/Views/Shared/View.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CRM</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Deals</a></li>
                    <li class="breadcrumb-item active">Deals</li>
                </ol>
            </div>
            @*<h4 class="page-title">Deal Information</h4>*@
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card-box">
            <h4 class="header-title">Deal Information</h4>


            <div class="alert alert-warning d-none fade show">
                <h4 class="mt-0">Oh snap!</h4>
                <p class="mb-0">This form seems to be invalid :(</p>
            </div>
            <br /><br /><br /><br />

            <div class="alert alert-info d-none fade show">
                <h4 class="mt-0">Yay!</h4>
                <p class="mb-0">Everything seems to be ok :)</p>
            </div>

            <form id="demo-form" data-parsley-validate="">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="heard">Deal Owner *:</label>
                            <select id="DealOwner" class="form-control" required="">
                                <option value="">Choose..</option>
                            </select>
                        </div>
                    </div>
                    <span class="col-md-1"></span>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="amount">Amount:</label>
                            <input type="text" class="form-control" name="amount" id="amount" required="">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="heard">Deal Name:</label>
                            <input type="text" class="form-control" name="dealname" id="dealname" required="">
                        </div>
                    </div>
                    <span class="col-md-1"></span>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="closningdate">Closing Date</label>
                            <input class="form-control" id="closingdate" type="date" name="closingdate">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="accountname">Account Name:</label>
                            <input type="text" class="form-control" name="accountname" id="accountname">
                        </div>
                    </div>
                    <span class="col-md-1"></span>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="TitleofLeads">Stage* :</label>
                            <select id="Stage" class="form-control" required="">
                                <option value="">Choose..</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="TitleofLeads">Type* :</label>
                            <select id="Stage" class="form-control" required="">
                                <option value="">Choose..</option>
                            </select>
                        </div>
                    </div>
                    <span class="col-md-1"></span>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="title">Expected Revenue* :</label>
                            <input type="text" class="form-control" name="expectedrevenue" id="expectedrevenue" required="">
                        </div>
                    </div>
                </div>




                 <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="leadsource">Lead Source* :</label>
                            <select id="leadsource" class="form-control" required="">
                                <option value="">Choose..</option>
                            </select>
                        </div>
                    </div>
                    <span class="col-md-1"></span>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="campaignsource">Campaign Source :</label>
                            <select id="campaignsource" class="form-control">
                                <option value="">Choose..</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="phone">Contact Name:</label>
                            <input type="text" class="form-control" name="contactname" id="contactname" required="">
                        </div>
                    </div>
                    <span class="col-md-1"></span>
                    <div class="col-md-5">
                        <div class="form-group">
                            @*<label for="homephone">Home Phone :</label>
                            <input type="text" class="form-control" name="homePhone" id="homephone">*@
                        </div>
                    </div>
                </div>


               
                <br />
               

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <h4>Description</h4>
                            <hr />
                        </div>
                    </div>
                    <span class="col-md-1"></span>
                    <div class="col-md-5">
                        <div class="form-group">
                        </div>
                    </div>
                </div>


                <br />
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" rows="5" id="description"></textarea>
                        </div>
                    </div>
                    <span class="col-md-1"></span>
                    <div class="col-md-5">
                        <div class="form-group">
                        </div>
                    </div>
                </div>



                <div class="form-group mb-0">
                    <input type="submit" class="btn btn-success" value="Submit">
                </div>

            </form>
        </div> <!-- end card-box-->
    </div> <!-- end col-->
</div>





