
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/View.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CRM</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Country</a></li>
                    <li class="breadcrumb-item active">Country</li>
                </ol>
            </div>
            <h4 class="page-title">Country</h4>
        </div>
    </div>
</div>



<!--Start Row-->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title"></h4>
                <code style="visibility:hidden">$().DataTable();</code>.

                <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>Country</th>
                            <th class="col-md-2">Action</th>


                        </tr>
                    </thead>


                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                        </tr>

                        <tr>
                            <td>Cedric Kelly</td>
                            <td>Senior Javascript Developer</td>
                        </tr>
                        <tr>
                            <td>Airi Satou</td>
                            <td>Accountant</td>
                        </tr>

                        <tr>
                            <td>Shad Decker</td>
                            <td>Regional Director</td>
                        </tr>
                        <tr>
                            <td>Michael Bruce</td>
                            <td>Javascript Developer</td>
                        </tr>
                        <tr>
                            <td>Donna Snider</td>
                            <td>Customer Support</td>
                        </tr>
                    </tbody>
                </table>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<!-- end row-->
