
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/View.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">CRM</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Type of Stage</a></li>
                    <li class="breadcrumb-item active">Type of Stage</li>
                </ol>
            </div>
            <h4 class="page-title">Type of Stage</h4>
        </div>
    </div>
</div>



<br />
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-xl-6 mt-xl-0 mt-3">
                <div class="button-list">
                    <a href="/TypeofSatge/CreateTypeofStage">
                        <button type="button" class="btn btn-dark  btn-rounded waves-effect waves-light" style="font-size:14px;"><i class="fa fa-plus" aria-hidden="true" style="font-size:14px;"></i> Create</button>
                    </a>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end col -->
</div>

<br />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title"></h4>
                <code style="visibility:hidden">$().DataTable();</code>.

                <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>Type of Stage</th>
                            <th class="col-md-2">Action</th>


                        </tr>
                    </thead>


                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                        </tr>

                        <tr>
                            <td>Cedric Kelly</td>
                            <td>Senior Javascript Developer</td>
                        </tr>
                        <tr>
                            <td>Airi Satou</td>
                            <td>Accountant</td>
                        </tr>

                        <tr>
                            <td>Shad Decker</td>
                            <td>Regional Director</td>
                        </tr>
                        <tr>
                            <td>Michael Bruce</td>
                            <td>Javascript Developer</td>
                        </tr>
                        <tr>
                            <td>Donna Snider</td>
                            <td>Customer Support</td>
                        </tr>
                    </tbody>
                </table>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<!-- end row-->

